@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e8ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #868c96;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #868c96;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #868c96;
}